<div class="main color_text">
    <table class="table mx-auto w-75">
        <thead class="color_text">
            <tr>
              <th class="text-center" colspan="6">
                <h2>Payments</h2>
              </th>
            </tr>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Note</th>
                <th class="text-center">Currency</th>
                <th class="text-center">Urgently</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="color_text">
            <tr *ngFor="let p of payments;">
                <td class="text-center">{{ dateToString(p.date) | date:'mediumDate' }}</td>
                <td class="text-center">{{ p.amount }}</td>
                <td class="text-center">{{ p.note }}</td>
                <td class="text-center">{{ p.currency }}</td>
                <td class="text-center"><input type="checkbox" *ngIf="!p.urgently" disabled="disabled"><input type="checkbox" *ngIf="p.urgently" checked disabled="disabled"></td>
                <td><button type="button" class="ml-1 btn-secondary rounded" (click)="goToPayment(p)">🖉</button></td>
            </tr>
        </tbody>
        
    </table>
    <nav class="d-inline-block text-center w-100">
        <ul class="pagination d-inline-block">
          <li class="page-item d-inline-block">
            <button class="page-link" (click)="reduceNumberPage()">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </button>
          </li>
          <div class="d-inline-block" *ngFor="let i of numberPages;">
            <li *ngIf="numberPage===(i-1)" class="page-item d-inline-block active"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
            <li *ngIf="!(numberPage===(i-1))" class="page-item d-inline-block"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
          </div>
          <li class="page-item d-inline-block">
            <button class="page-link" (click)="increaseNumberPage()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </button>
          </li>
        </ul>
      </nav>
    <div class="ml-5 text-right">
        <button *ngIf="role==='ROLE_STUDENT'" routerLink="/add-payment" type="button" class="btn btn-outline-light mt-3 ml-5">Add</button>
        <button *ngIf="role==='ROLE_ADMINISTRATOR'" (click)="goToAddPayment()" type="button" class="btn btn-outline-light mt-3 ml-5">Add</button>
    </div>
</div>
