<div class=" col-md-8 color_text">
  <div class="table_color">
      <h1 class="ml-5 title">Course specification</h1>
      <form class="ml-5">
        <div class="row ml-2">
          <div class="col-md-3 px-md-1">
            <div class="form-group">
              <b>Title:</b>
              <input type="input" class="form-control" [(ngModel)]="courseSpecification.title" [ngModelOptions]="{standalone: true}">
            </div> 
          </div>
          <div class="col-md-3 px-md-1">
            <div class="form-group">
              <b>ECTS:</b>
              <input type="input" class="form-control" [(ngModel)]="courseSpecification.ects" [ngModelOptions]="{standalone: true}"> 
            </div> 
          </div>
          <div class="col-md-3 px-md-1">
            <div class="form-group">
              <b>Code:</b>
                  <input type="input" class="form-control" [(ngModel)]="courseSpecification.code" [ngModelOptions]="{standalone: true}">
              </div>
          </div>
        </div>
      </form>
      <div class="text-right mt-2">
        <button type="button" class="btn btn-fill btn-danger" (click)="save()">✓</button>
        <button type="button" class="btn btn-fill btn-danger ml-1" (click)="goBack()">X</button>
      </div>
  </div>
</div>
