<div class="table_color ">
  <div class=" row">
    <div class=" col-sm-6 text-left">
      
    </div>
    <div class=" col-sm-6">
      <div class=" btn-group btn-group-toggle float-right"
      data-toggle="buttons">
      
      <label class=" btn btn-sm btn-danger btn-simple" >
        <input checked="checked" name="options" type="radio" />

        <a class=" d-none d-sm-block d-md-block d-lg-block d-xl-block font-weight-bold" (click)="goBack()">
            Go back
        </a>
        <span class=" d-block d-sm-none">
          <i class=" tim-icons icon-single-02"> </i>
        </span>
      </label>
    </div>
    </div>
  </div>
    <div class="ml-5">
        <h1 class="ml-3 mb-0 title">{{teacher.userDTO.firstName}} {{teacher.userDTO.lastName}}</h1>
        <h3 class="ml-5"><i>{{teacher.userDTO.userName}}</i></h3>
      </div>
    <app-courses></app-courses>
</div>