  <div class="table_color ">
    <h1 class="ml-5 title">Teachers</h1>
    <table class="table mx-auto w-75 mt-5" style="background-color: rgba(39,41,61,255);">
        <thead>
            <tr>
                <th class="text-center">Firstname</th>
                <th class="text-center">Lastname</th>
                <th class="text-center">Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let t of teachers">
                <td class="text-center">{{t.userDTO.firstName}}</td>
                <td class="text-center">{{t.userDTO.lastName}}</td>
                <td class="text-center"><button class="btn btn-link" (click)="goToTeacher(t)">{{t.userDTO.userName}}</button></td>
                <td class="text-center"><button type="button" class="btn btn-danger btn-sm" (click)="deleteTeacher(t)">X</button></td>
            </tr>
        </tbody>
    </table>
    <nav class="d-inline-block text-center w-100">
        <ul class="pagination d-inline-block">
          <li class="page-item d-inline-block">
            <button class="page-link" (click)="reduceNumberPage()">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </button>
          </li>
          <div class="d-inline-block" *ngFor="let i of numberPages;">
            <li *ngIf="numberPage===(i-1)" class="page-item d-inline-block active"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
            <li *ngIf="!(numberPage===(i-1))" class="page-item d-inline-block"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
          </div>
          <li class="page-item d-inline-block">
            <button class="page-link" (click)="increaseNumberPage()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
