  <div class="table_color ">
    <h1 class="ml-5 title">Account</h1>
    <div class="ml-125">
        <b>Amount:</b>
        <input type="text" class="form-control col-2 d-inline ml-2 mt-2" readonly [(ngModel)]="account.amount">
    </div>
    <h4 class="text-center mt-2">List of payments</h4>
    <table class="table mx-auto w-75">
        <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Note</th>
                <th class="text-center">Currency</th>
                <th class="text-center">Urgently</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of account.payments;">
                <td class="text-center">{{ dateToString(p.date) | date:'mediumDate' }}</td>
                <td class="text-center">{{ p.amount }}</td>
                <td class="text-center">{{ p.note }}</td>
                <td class="text-center">{{ p.currency }}</td>
                <td class="text-center"><input type="checkbox" *ngIf="!p.urgently" disabled="disabled"><input type="checkbox" *ngIf="p.urgently" checked disabled="disabled"></td>
            </tr>
        </tbody>
    </table> 
    <nav class="d-inline-block text-center w-100">
        <ul class="pagination d-inline-block">
          <li class="page-item d-inline-block">
            <button class="page-link" (click)="reduceNumberPage()">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </button>
          </li>
          <div class="d-inline-block" *ngFor="let i of numberPages;">
            <li *ngIf="numberPage===(i-1)" class="page-item d-inline-block active"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
            <li *ngIf="!(numberPage===(i-1))" class="page-item d-inline-block"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
          </div>
          <li class="page-item d-inline-block">
            <button class="page-link" (click)="increaseNumberPage()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </button>
          </li>
        </ul>
      </nav>
    <div class="ml-5 text-right">
        <button routerLink="/add-payment" type="button" class="btn btn-outline-primary mt-3 ml-5">Add</button>
    </div>
  </div>