    <div class="table_color ">
    <div class=" row">
      <div class=" col-sm-6 text-left">
        <div class="ml-5">
          <h1 class="ml-3 mb-0 title">{{student.cardNumber}}</h1>
          <h3 class="ml-5"><i>{{student.userDTO.firstName}} {{student.userDTO.lastName}}</i></h3>
        </div>
      </div>
      <div class=" col-sm-6">
        <div
          class=" btn-group btn-group-toggle float-right"
          data-toggle="buttons"
        >
          <label class=" btn btn-sm btn-danger btn-simple" (click)="click('courses')" [ngClass]="{'active':courseI===true}">
            <input checked="checked" name="options" type="radio" />

            <span
              class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
            >
            Courses
            </span>
            <span class=" d-block d-sm-none">
              <i class=" tim-icons icon-single-02"> </i>
            </span>
          </label>
          <label class=" btn btn-sm btn-danger btn-simple" (click)="click('payments')" [ngClass]="{'active':paymentsI==true}">
            <input
              class=" d-none d-sm-none"
              name="options"
              type="radio"
            />

            <span
              class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
            >
              Payments
            </span>
            <span class=" d-block d-sm-none">
              <i class=" tim-icons icon-gift-2"> </i>
            </span>
          </label>
          <label class=" btn btn-sm btn-danger btn-simple" (click)="click('documents')" [ngClass]="{'active':documentI==true}">
            <input class=" d-none" name="options" type="radio" />

            <span
              class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
            >
              Documents
            </span>
            <span class=" d-block d-sm-none">
              <i class=" tim-icons icon-tap-02"> </i>
            </span>
          </label>
          <label class=" btn btn-sm btn-danger btn-simple" >
            <input checked="checked" name="options" type="radio" />

            <a class=" d-none d-sm-block d-md-block d-lg-block d-xl-block font-weight-bold" (click)="goBack()">
                Go back
            </a>
            <span class=" d-block d-sm-none">
              <i class=" tim-icons icon-single-02"> </i>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div>
        <app-documents *ngIf="documentI"></app-documents>
        <app-payment *ngIf="paymentsI"></app-payment>
        <app-courses-for-student *ngIf="courseI"></app-courses-for-student>
    </div>
</div>
